/*
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;    
}

/* .bg-image-orig {
    background-image: url("./main-images/IMG_6755_shoulders-back_2500x1667.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
    position: relative;
}  */

.bg-image {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 350ms, opacity 350ms linear;
    -o-transition: visibility 350ms, opacity 350ms linear;
    transition: visibility 350ms, opacity 350ms linear;
}

.bg-image.is-active {
    visibility: visible;
    opacity: 1;
}

.bg-img-container {
    position: relative;
}

.bg-img-container img{
    height: 100vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0; 
}

.btn-a-container,
.btn-b-container,
.btn-c-container,
.btn-d-container,
.btn-e-container,
.btn-f-container,
.btn-g-container,
.btn-h-container {
    position: absolute;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 14px;
    cursor: pointer;
    z-index: 30;
}

.btn-a-pg-one,
.btn-b-pg-one,
.btn-c-pg-one,
.btn-d-pg-one,
.btn-e-pg-one,
.btn-f-pg-one,
.btn-g-pg-one,
.btn-h-pg-one {
    height: 18px;
    width: 18px;
    background-color: #9A0201;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    position: absolute;
}

.btn-a-ring-pg-one,
.btn-b-ring-pg-one,
.btn-c-ring-pg-one,
.btn-d-ring-pg-one,
.btn-e-ring-pg-one,
.btn-f-ring-pg-one,
.btn-g-ring-pg-one,
.btn-h-ring-pg-one {
    height: 30px;
    width: 30px;
    border: #9A0201 solid 3px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
    z-index: 1;
}

.btn-d-outter-ring-pg-one,
.btn-h-outter-ring-pg-one {
    height: 42px;
    width: 42px;
    border: #9A0201 solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
}

/* Button Title labels */

.btn-a-title-container,
.btn-b-title-container,
.btn-c-title-container,
.btn-d-title-container,
.btn-e-title-container,
.btn-f-title-container,
.btn-g-title-container,
.btn-h-title-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 350ms, opacity 350ms linear;
    -o-transition: visibility 350ms, opacity 350ms linear;
    transition: visibility 350ms, opacity 350ms linear;
    z-index: 3;
}

.btn-a-container:hover~.btn-a-title-container,
.btn-b-container:hover~.btn-b-title-container,
.btn-c-container:hover~.btn-c-title-container,
.btn-d-container:hover~.btn-d-title-container,
.btn-e-container:hover~.btn-e-title-container,
.btn-f-container:hover~.btn-f-title-container,
.btn-g-container:hover~.btn-g-title-container,
.btn-h-container:hover~.btn-h-title-container {
    visibility: visible;
    opacity: 1;        
}

.btn-a-title-container:hover,
.btn-b-title-container:hover,
.btn-c-title-container:hover,
.btn-d-title-container:hover,
.btn-e-title-container:hover,
.btn-f-title-container:hover,
.btn-g-title-container:hover,
.btn-h-title-container:hover {
    visibility: visible;
    opacity: 1;
}


.btn-a-title-background,
.btn-b-title-background,
.btn-c-title-background,
.btn-d-title-background,
.btn-e-title-background,
.btn-f-title-background,
.btn-g-title-background,
.btn-h-title-background {
    width: 400px;
    height: 40px;
    background-color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    border: solid 1px #dddddd;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
    -webkit-transform: translateX(-180px);
        -ms-transform: translateX(-180px);
            transform: translateX(-180px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn-b-title-background {
    width: 500px;
    -webkit-transform: translateX(-230px);
        -ms-transform: translateX(-230px);
            transform: translateX(-230px);
}

.btn-c-title-background {
    width: 300px;
    -webkit-transform: translateX(130px);
        -ms-transform: translateX(130px);
            transform: translateX(130px);
}

.btn-d-title-background,
.btn-h-title-background {
    width: 450px;
    -webkit-transform: translateX(-205px);
        -ms-transform: translateX(-205px);
            transform: translateX(-205px);
}

.btn-title-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #707070;
    font-weight: 600;
    margin: 0;
    padding-left: 1em;
}
.btn-title-text-c {
    width: 300px;
    text-align: right;
    padding-right: 1em;
    /* padding-left: 3em; */
}

.btn-title-text strong {
    font-weight: 700;
}

.btn-title-text strong:hover {
    color: #9A0201;
}

/* Back Button Styling */

.arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 8%;
    -webkit-transform: scale(0.7, 0.7) translate(-50%, -50%) rotateZ(90deg);
        -ms-transform: scale(0.7, 0.7) translate(-50%, -50%) rotate(90deg);
            transform: scale(0.7, 0.7) translate(-50%, -50%) rotateZ(90deg);
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    -webkit-transform: translate(-50%, -50%) rotateZ(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
            transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    -webkit-transform: translate(-50%, -50%) rotateZ(30deg);
        -ms-transform: translate(-50%, -50%) rotate(30deg);
            transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }
  .arrow:before, .arrow:after {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    background: #9A0201;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
  }

/* Logo Styling */

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo img {
    width: 250px;
}

/* Review Styling */

.review {
    position: absolute;
    left: 30px;
    bottom: 130px;
    width: 500px;
    height: 150px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 25px 25px 25px 25px;
    z-index: 40;
}

.carousel {
    background: #fff;
    /* border: 2px solid #c058dc; */
    border-radius: 25px;
    width: 98%;
    height: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 500%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

section {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
}

.controls button.next {
    position: absolute;
    right: -10px;
    top: 48px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #707070;
    opacity: 0.5;
}

.controls button.prev {
    position: absolute;
    left: -10px;
    top: 48px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #707070;
    opacity: 0.5;
}

.controls button i {
    font-size: 50px;
    font-weight: 100;
}

.slide__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 10px auto;
    grid-template-columns: 100px 10px auto;
        grid-template-areas: 
        "image . stars"
        "image . name"
        "image . divider"
        "image . text";
    width: 400px;
}

.slide__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-area: image;
}

.slide__stars {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    width: 5em;
    grid-area: stars;
}

.slide__name-location {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    margin: 0;
    grid-area: name;
    font-size: 1.125rem;
}

.slide__divider-bar {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    border-top: 1px solid rgba(112, 112, 112, 0.4);
    border-left: none;
    border-bottom: none;
    border-right: none;
    grid-area: divider;
    margin: 0;
}

.slide__text {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    margin: 0;
    grid-area: text;
    font-size: 0.9rem;
}

.slide__text a {
    text-decoration: none;
    font-weight: 700;
    color: #9A0201;
}

.slide__text a:hover {
    text-decoration: underline;
}

/* Content Container Styling */

.content-container {
    position: absolute;
    top: 30px;
    right: 30px;
    left: 550px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 25px;
    height: calc(100% - 60px);
    z-index: 40;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 350ms, opacity 350ms linear;
    -o-transition: visibility 350ms, opacity 350ms linear;
    transition: visibility 350ms, opacity 350ms linear;
}

.content-container.selected {
    visibility: visible;
    opacity: 1;
}

.inside-content {
    position: relative;
}

.inside-content button.inside-content__clear {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #9A0201;
}

.inside-content__clear i {
    font-size: 2.25em;
}

/* Footer Styling */

.footer {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 500px;
    height: 80px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 40;
}

.footer__bar {
    margin-top: 1em;
}

.footer__bar a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #707070;
}

.footer__bar a:hover {
    color: #9A0201;
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.80em;
    color: #707070;
}