@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;    
}

/* .bg-image-orig {
    background-image: url("./main-images/IMG_6755_shoulders-back_2500x1667.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
    position: relative;
}  */

.bg-img-container {
    position: relative;
}

.bg-img-container img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0; 
}

.btn-a-container,
.btn-b-container,
.btn-c-container,
.btn-d-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 14px;
    cursor: pointer;
    z-index: 30;
}

.btn-a-pg-one,
.btn-b-pg-one,
.btn-c-pg-one,
.btn-d-pg-one {
    height: 18px;
    width: 18px;
    background-color: #9A0201;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    position: absolute;
}

.btn-a-ring-pg-one,
.btn-b-ring-pg-one,
.btn-c-ring-pg-one,
.btn-d-ring-pg-one {
    height: 30px;
    width: 30px;
    border: #9A0201 solid 3px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
    z-index: 1;
}

.btn-d-outter-ring-pg-one {
    height: 42px;
    width: 42px;
    border: #9A0201 solid 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
}

/* Button Title labels */

.btn-a-title-container,
.btn-b-title-container,
.btn-c-title-container,
.btn-d-title-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 350ms, opacity 350ms linear;
    z-index: 3;
}

.btn-a-container:hover~.btn-a-title-container,
.btn-b-container:hover~.btn-b-title-container,
.btn-c-container:hover~.btn-c-title-container,
.btn-d-container:hover~.btn-d-title-container {
    visibility: visible;
    opacity: 1;        
}

.btn-a-title-container:hover,
.btn-b-title-container:hover,
.btn-c-title-container:hover,
.btn-d-title-container:hover {
    visibility: visible;
    opacity: 1;
}


.btn-a-title-background,
.btn-b-title-background,
.btn-c-title-background,
.btn-d-title-background {
    width: 400px;
    height: 40px;
    background-color: #fff;
    display: inline-flex;
    position: absolute;
    border: solid 1px #dddddd;
    border-radius: 20px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
    transform: translateX(-180px);
    align-items: center;
}

.btn-b-title-background {
    width: 500px;
    transform: translateX(-230px);
}

.btn-c-title-background {
    width: 300px;
    transform: translateX(130px);
}

.btn-d-title-background {
    width: 450px;
    transform: translateX(-205px);
}

.btn-title-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #707070;
    font-weight: 600;
    margin: 0;
    padding-left: 1em;
}
.btn-title-text-c {
    width: 300px;
    text-align: right;
    padding-right: 1em;
    /* padding-left: 3em; */
}

.btn-title-text strong {
    font-weight: 700;
}

.btn-title-text strong:hover {
    color: #9A0201;
}

/* Logo Styling */

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo img {
    width: 250px;
}

/* Review Styling */

.review {
    position: absolute;
    left: 30px;
    bottom: 130px;
    width: 500px;
    height: 150px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 25px 25px 25px 25px;
}

.carousel {
    background: #fff;
    /* border: 2px solid #c058dc; */
    border-radius: 25px;
    width: 98%;
    height: 148px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.5s;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

section {
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.controls button.next {
    position: absolute;
    right: -10px;
    top: 48px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #707070;
    opacity: 0.5;
}

.controls button.prev {
    position: absolute;
    left: -10px;
    top: 48px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #707070;
    opacity: 0.5;
}

.controls button i {
    font-size: 50px;
    font-weight: 100;
}

.slide__container {
    display: grid;
    grid-template-columns: 100px 10px auto;
    grid-template-areas: 
        "image . stars"
        "image . name"
        "image . divider"
        "image . text";
    width: 400px;
}

.slide__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-area: image;
}

.slide__stars {
    width: 5em;
    grid-area: stars;
}

.slide__name-location {
    margin: 0;
    grid-area: name;
    font-size: 1.125rem;
}

.slide__divider-bar {
    border-top: 1px solid #707070;
    border-left: none;
    border-bottom: none;
    border-right: none;
    grid-area: divider;
    margin: 0;
}

.slide__text {
    margin: 0;
    grid-area: text;
    font-size: 0.9rem;
}

.slide__text a {
    text-decoration: none;
    font-weight: 700;
    color: #9A0201;
}

.slide__text a:hover {
    text-decoration: underline;
}

/* Footer Styling */

.footer {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 500px;
    height: 80px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__bar {
    margin-top: 1em;
}

.footer__bar a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #707070;
}

.footer__bar a:hover {
    color: #9A0201;
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.80em;
    color: #707070;
}